.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Shrikhand", cursive;
}

h1 {
  margin: 0;
  padding: 18px 0px;
  font-size: xx-large;
}

nav {
  width: 100%;
  height: 135px;
  background-color: #4b6587;
  color: #f0e5cf;
  border-bottom: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputDiv {
  margin: -4px 0px;
}

.input {
  font-family: "Shrikhand", cursive;
  font-size: large;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  margin-left: 5px;
  font-size: large;
  font-family: "Shrikhand", cursive;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eachCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  background-color: #f0e5cf;
  padding: 5px;
  margin: 20px;
  color: black;

  /* border: 0.1px solid gray; */
}

.eachCard a {
  text-decoration: none;
}

/* yellowish: #F0E5CF
whitish: #F7F6F2
grayish: #C8C6C6
blueish: #4B6587 */

.eachCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.arrayOfCards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  place-content: center space-around;
}
